@charset "UTF-8";
@font-face {
  font-family: 'ALS Fuchsia';
  src: url("../fonts/ALSFuchsia.eot");
  src: url("../fonts/ALSFuchsia.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSFuchsia.woff") format("woff"), url("../fonts/ALSFuchsia.ttf") format("truetype"), url("../fonts/ALSFuchsia.svg#ALSFuchsia") format("svg");
  font-weight: normal;
  font-style: normal; }
/* - Миксины - */
/* - Основные стили - */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  /* смешно, да, но в этом макете реально проще указать, что НЕ нужно выравнивать по центру*/ }

html {
  font-size: 10px; }

body {
  background: #fff;
  color: #000; }

/* - Заголовки и параграфы - */
h1 {
  font: 700 7.2rem Arial, sans-serif; }
  @media (max-width: 600px) {
    h1 {
      font-size: 3.8em; } }

h2 {
  font: 700 4.2rem Arial, sans-serif;
  text-align: left; }
  @media (max-width: 600px) {
    h2 {
      font-size: 3.2em; } }

h3 {
  font: 700 2.4rem Arial, sans-serif;
  text-align: left; }

p, figure.single-book figcaption, ul, ol {
  font: 400 1.9rem Arial, sans-serif; }

p.story, figure.single-book figcaption.story, ul.list li {
  text-align: left; }

p.sapient-description, figure.single-book figcaption.sapient-description {
  font: 400 3.2rem Arial, sans-serif;
  line-height: 3.4rem; }
  @media (max-width: 600px) {
    p.sapient-description, figure.single-book figcaption.sapient-description {
      font-size: 2.4em; } }

p.book-description, figure.single-book figcaption.book-description {
  font: 400 2.4rem Arial, sans-serif; }

p.little-note, figure.single-book figcaption.little-note {
  font: 400 italic 1.5rem Arial, sans-serif;
  color: #dcdcdc;
  margin: 30px 10px 0 10px; }
  p.little-note:after, figure.single-book figcaption.little-note:after {
    content: url("../i/skraffi.png");
    display: block;
    position: relative;
    top: 10px; }

ul.list {
  list-style-type: none; }
  ul.list li {
    margin-bottom: 20px; }
    ul.list li:before {
      content: '—';
      display: inline-block;
      padding-right: 5px; }

u {
  text-decoration: none;
  color: #4285be; }

strong {
  font-style: normal;
  color: #fc5454; }

/* - Блоки и элементы - */
a.logo {
  display: block; }

a.book-link {
  position: relative;
  height: auto; }
  a.book-link img.book-cover-small {
    display: block;
    margin: 0 auto; }
  a.book-link a.hover {
    content: '';
    display: none;
    position: absolute;
    top: -300px;
    left: -105px;
    width: 210px;
    height: 300px;
    font: 700 1.4rem Arial, sans-serif;
    line-height: 500%;
    color: #fff;
    text-decoration: none;
    padding: 130px 20px;
    background-color: none;
    outline: 3px solid white;
    outline-offset: 0px;
    -moz-transition: outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out;
    -webkit-transition: outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out;
    -o-transition: outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out;
    -ms-transition: outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out;
    transition: outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out; }
    a.book-link a.hover:hover {
      display: inline-block;
      background-color: #fc5454;
      outline: 3px solid white;
      outline-offset: -10px;
      line-height: 100%; }
@-moz-document url-prefix() {
  a.book-link a.hover {
    top: 10px; } }
img.book-cover-small:hover + a.hover {
  display: inline-block; }

button, input.order-it {
  cursor: pointer; }

div.search:after {
  content: '';
  display: block;
  clear: both; }
div.search input.search-field {
  float: left;
  height: 30px;
  width: 264px;
  border: 1px solid #b3b3b3;
  padding-left: 33px;
  border-radius: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  background: url("../i/loope.png") no-repeat 8px;
  text-align: left; }
div.search button.search {
  float: left;
  margin: 2px 0 0 10px;
  border: none;
  background: none; }

button.buy-book {
  border-radius: 12px;
  border: none;
  background: -moz-linear-gradient(top, #865888 0%, #623a64 100%);
  background: -webkit-linear-gradient(top, #865888 0%, #623a64 100%);
  background: -o-linear-gradient(top, #865888 0%, #623a64 100%);
  background: -ms-linear-gradient(top, #865888 0%, #623a64 100%);
  background: linear-gradient(to bottom, #865888 0%, #623a64 100%);
  box-shadow: 0px 20px 20px 0.00px #382539;
  font: 700 3.26rem Arial, sans-serif;
  color: #fff;
  padding: 15px 34px;
  margin: 0 auto; }
  @media (max-width: 600px) {
    button.buy-book {
      padding: 23px 16px; } }

button.more-books {
  color: #4285be;
  font: 400 1.7rem Arial, sans-serif;
  background-color: #ffffff;
  border: 2px solid #96c2e4;
  border-radius: 8px;
  padding: 10px 60px;
  margin: 0 auto; }

figure.single-book figcaption {
  margin-top: 30px; }

figure.feature, figure.review {
  margin-bottom: 60px; }
  figure.feature figcaption, figure.review figcaption {
    font: 400 2.1rem Arial, sans-serif;
    padding-top: 25px; }

figure.review figcaption:before {
  position: relative;
  left: -7px;
  top: 5px;
  content: '';
  display: inline-block;
  width: 21px;
  height: 23px;
  background: url("../i/quotes.png");
  background-position: 0px; }
figure.review figcaption:after {
  position: relative;
  left: 7px;
  top: 5px;
  content: '';
  display: inline-block;
  width: 21px;
  height: 23px;
  background: url("../i/quotes.png");
  background-position: 21px; }

blockquote {
  font: 400 3.6rem "ALS Fuchsia", "Monotype Corsiva", serif;
  margin: 70px 0;
  display: inline-block; }
  @media (max-width: 600px) {
    blockquote {
      font-size: 2.8em; } }
  blockquote:before, blockquote:after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #7d7d7d; }
  blockquote:before {
    top: -20px; }
  blockquote:after {
    top: 20px; }

div.people {
  margin: 40px 0; }

.disabled {
  pointer-events: none;
  cursor: default; }

footer {
  padding-top: 60px; }
  footer a.footer-bender {
    margin: 0 auto; }

form.order {
  min-height: 300px; }
  form.order p.field, form.order figure.single-book figcaption.field, figure.single-book form.order figcaption.field, form.order p.radiobuttons, form.order figure.single-book figcaption.radiobuttons, figure.single-book form.order figcaption.radiobuttons, form.order p.comment, form.order figure.single-book figcaption.comment, figure.single-book form.order figcaption.comment, form.order label.radiobuttons {
    text-align: left;
    font-size: 1.9rem;
    padding-top: 15px; }
  form.order p.field input, form.order figure.single-book figcaption.field input, figure.single-book form.order figcaption.field input {
    height: 30px;
    width: 270px;
    font-size: 1.9rem; }
  form.order p.comment textarea, form.order figure.single-book figcaption.comment textarea, figure.single-book form.order figcaption.comment textarea {
    width: 415px;
    height: 166px;
    font-size: 1.9rem;
    font-family: Arial, sans-serif; }
  form.order div, form.order img {
    display: inline-block;
    margin: 30px;
    vertical-align: top; }
  form.order img {
    padding-top: 37px; }
  form.order input, form.order textarea {
    border: 3px solid black;
    text-align: left; }
  form.order p.total, form.order figure.single-book figcaption.total, figure.single-book form.order figcaption.total {
    font: 400 3.2rem Arial, sans-serif; }
  form.order input.order-it {
    margin-top: 35px;
    padding: 10px 80px;
    font-size: 2.2rem;
    line-height: 100%;
    border-radius: 7px;
    background-color: #e6e6e6; }
  form.order label.radiobuttons {
    display: block; }
    form.order label.radiobuttons span {
      padding-left: 10px; }
  form.order p.hidden, form.order figure.single-book figcaption.hidden, figure.single-book form.order figcaption.hidden {
    display: none; }
  form.order .report {
    padding: 20px 0; }
  form.order .error {
    border: 3px solid #fc5454; }
  form.order .not-availible {
    pointer-events: none;
    cursor: not-allowed; }

/* mobile before 320px */
@media only screen and (max-width: 319px) {
  body {
    padding: 0 5px; }

  header {
    width: 100%; }
    header a.logo {
      width: 100%;
      margin: 40px 0; }
      header a.logo img {
        width: 100%; }
    header div.search {
      width: 100%;
      padding: 0 10px; }
      header div.search input.search-field {
        width: 80%; }

  h1 {
    font-size: 2.8rem;
    margin: 40px 0; }

  h2 {
    font-size: 2.2rem; }

  h3 {
    font-size: 2.0rem; }

  p.sapient-description, figure.single-book figcaption.sapient-description {
    font-size: 1.4rem; }

  blockquote {
    font-size: 1.8rem; }

  button.buy-book {
    font-size: 2rem; }

  section.books p.sapient-description, section.books figure.single-book figcaption.sapient-description, figure.single-book section.books figcaption.sapient-description {
    display: none; }
  section.books figure.single-book {
    margin-bottom: 60px; }

  section.book {
    margin: 0 10px; }
    section.book img.book-cover-large {
      width: 100%; }
    section.book p.book-description, section.book figure.single-book figcaption.book-description, figure.single-book section.book figcaption.book-description {
      margin-top: 40px; }
    section.book aside.reviews, section.book aside.features, section.book div.book-display {
      margin-bottom: 60px; }

  section.story {
    margin: 0 10px; }
    section.story h2, section.story h3 {
      line-height: 100%;
      margin-top: 30px; }
    section.story h2 + h3 {
      margin-top: 20px; }
    section.story p.story, section.story figure.single-book figcaption.story, figure.single-book section.story figcaption.story {
      line-height: 150%;
      margin-top: 20px; }
    section.story img.person {
      margin: 20px 15px; }

  a.footer-bender img {
    width: 100%; } }
/* mobile 320px to 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding: 0 10px; }

  header {
    width: 100%; }
    header a.logo {
      width: 100%;
      margin: 40px 0; }
      header a.logo img {
        width: 300px; }
    header div.search {
      width: 100%; }
      header div.search input.search-field {
        width: 90%; }

  h1 {
    margin: 40px 0; }

  section.books p.sapient-description, section.books figure.single-book figcaption.sapient-description, figure.single-book section.books figcaption.sapient-description {
    display: none; }
  section.books figure.single-book {
    margin-bottom: 60px; }

  section.book {
    margin: 0 10px; }
    section.book img.book-cover-large {
      width: 280px; }
    section.book p.book-description, section.book figure.single-book figcaption.book-description, figure.single-book section.book figcaption.book-description {
      margin-top: 40px; }
    section.book aside.reviews, section.book aside.features, section.book div.book-display {
      margin-bottom: 60px; }

  section.story {
    margin: 0 10px; }
    section.story h2, section.story h3 {
      line-height: 100%;
      margin-top: 30px; }
    section.story h2 + h3 {
      margin-top: 20px; }
    section.story p.story, section.story figure.single-book figcaption.story, figure.single-book section.story figcaption.story {
      line-height: 150%;
      margin-top: 20px; }
    section.story img.person {
      margin: 20px 15px; } }
/* mobile 480px to 640px */
@media only screen and (min-width: 481px) and (max-width: 640px) {
  body {
    padding: 0 10px; }

  header {
    width: 100%; }
    header a.logo {
      width: 100%;
      margin: 40px 0; }
      header a.logo img {
        width: 300px; }
    header div.search {
      display: inline-block; }

  h1 {
    margin: 40px 0; }

  section.books p.sapient-description, section.books figure.single-book figcaption.sapient-description, figure.single-book section.books figcaption.sapient-description {
    display: none; }
  section.books figure.single-book {
    margin-bottom: 60px; }

  section.book {
    margin: 0 10px; }
    section.book img.book-cover-large {
      width: 280px; }
    section.book p.book-description, section.book figure.single-book figcaption.book-description, figure.single-book section.book figcaption.book-description {
      margin-top: 40px; }
    section.book aside.reviews, section.book aside.features, section.book div.book-display {
      margin-bottom: 60px; }

  section.story {
    margin: 0 10px; }
    section.story h2, section.story h3 {
      line-height: 100%;
      margin-top: 30px; }
    section.story h2 + h3 {
      margin-top: 20px; }
    section.story div.people {
      margin: 40px; }
    section.story p.story, section.story figure.single-book figcaption.story, figure.single-book section.story figcaption.story {
      line-height: 150%;
      margin-top: 20px; }
    section.story img.person {
      margin: 20px 15px; } }
/* mobile 640px to 1024px */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  body {
    padding: 0 10px; }

  header {
    padding: 60px 0 10px 0; }
    header a.logo {
      display: block;
      float: left; }
    header div.search {
      display: block;
      float: right;
      padding-top: 10px; }
    header:after {
      content: '';
      display: block;
      clear: both; }

  h1 {
    margin: 40px 0; }

  section.books p.sapient-description, section.books figure.single-book figcaption.sapient-description, figure.single-book section.books figcaption.sapient-description {
    display: none; }
  section.books figure.single-book {
    margin-bottom: 60px; }
  section.books div.books {
    margin: 0 auto;
    max-width: 650px;
    padding-top: 50px; }
  section.books figure.single-book {
    display: inline-block;
    max-width: 300px;
    padding: 0 10px; }

  section.book {
    margin: 0 10px; }
    section.book img.book-cover-large {
      width: 280px; }
    section.book p.book-description, section.book figure.single-book figcaption.book-description, figure.single-book section.book figcaption.book-description {
      margin-top: 40px; }
    section.book aside.reviews, section.book aside.features, section.book div.book-display {
      margin-bottom: 60px; }

  section.story {
    margin: 0 10px; }
    section.story h2, section.story h3 {
      line-height: 100%;
      margin-top: 30px; }
    section.story h2 + h3 {
      margin-top: 20px; }
    section.story div.people {
      margin: 0 auto;
      padding: 40px;
      max-width: 530px; }
    section.story p.story, section.story figure.single-book figcaption.story, figure.single-book section.story figcaption.story {
      line-height: 150%;
      margin-top: 20px; }
    section.story img.person {
      margin: 20px 15px; } }
/* desktop 1366px */
@media only screen and (min-width: 1025px) {
  body {
    padding: 0 40px;
    max-width: 1366px;
    margin: 0 auto; }

  header {
    padding: 60px 0 10px 0; }
    header a.logo {
      display: block;
      float: left; }
    header div.search {
      display: block;
      float: right;
      padding-top: 10px; }
    header:after {
      content: '';
      display: block;
      clear: both; }

  h1 {
    margin: 50px 0; }

  section.books figure.single-book {
    margin-bottom: 70px; }

  section.book div.book-row {
    display: table-row; }
  section.book p.book-description, section.book figure.single-book figcaption.book-description, figure.single-book section.book figcaption.book-description {
    margin-top: 50px; }
  section.book aside.reviews, section.book aside.features, section.book div.book-store {
    display: table-cell;
    vertical-align: top; }
  section.book aside.reviews, section.book aside.features {
    width: 29%; }
    section.book aside.reviews figure, section.book aside.features figure {
      height: 300px; }
      section.book aside.reviews figure img, section.book aside.features figure img {
        width: 210px;
        height: 185px; }
    section.book aside.reviews figcaption, section.book aside.features figcaption {
      width: 260px;
      margin: 0 auto; }
  section.book div.book-store {
    width: 40%; }
  section.book div.buy-book {
    margin-top: 30px; }

  section.story h1 {
    max-width: 1200px; }
  section.story h2, section.story h3 {
    line-height: 100%;
    padding-top: 50px;
    max-width: 640px;
    margin: 0 auto; }
  section.story h2 + h3 {
    padding-top: 30px; }
  section.story div.people + h2 {
    padding-top: 0px; }
  section.story p.sapient-description, section.story figure.single-book figcaption.sapient-description, figure.single-book section.story figcaption.sapient-description {
    max-width: 880px;
    margin: 0 auto;
    line-height: 150%; }
  section.story p.story, section.story figure.single-book figcaption.story, figure.single-book section.story figcaption.story {
    line-height: 150%;
    padding-top: 25px;
    max-width: 640px;
    margin: 0 auto; }
  section.story ul, section.story ol {
    max-width: 640px;
    margin: 0 auto; }
  section.story img.person {
    margin: 0 40px; }
  section.story blockquote {
    max-width: 880px; }

  section.books div.books {
    margin-top: 50px; }
  section.books figure.single-book {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    padding: 0 10px; } }
/* - прелоадер - */
div#loader {
  display: none;
  margin-bottom: 50px; }

.vertical--center {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block; }

.vertical-center__element {
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

.preloader {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 1px auto;
  background: black; }
  .preloader--top {
    top: 0;
    animation: preloaderCSSTop 2s infinite; }
    .preloader--top::after {
      position: absolute;
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      left: 1em;
      background: black;
      margin-left: 1px;
      animation: preloaderCSSTopAfter 2s infinite;
      animation-delay: .5s; }
  .preloader--bottom {
    top: 0;
    animation: preloaderCSSBottom 2s infinite;
    animation-delay: 1.5s; }
    .preloader--bottom::after {
      position: absolute;
      content: '';
      display: block;
      width: 1em;
      left: 1em;
      height: 1em;
      background: black;
      margin-left: 1px;
      -moz-animation: preloaderCSSTopAfter 2s infinite;
      -webkit-animation: preloaderCSSTopAfter 2s infinite;
      -o-animation: preloaderCSSTopAfter 2s infinite;
      animation: preloaderCSSTopAfter 2s infinite;
      -moz-animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s; }

@keyframes preloaderCSSTop {
  0% {
    background-color: black; }
  100% {
    background-color: white; } }
@keyframes preloaderCSSBottom {
  0% {
    background-color: black; }
  100% {
    background-color: white; } }
@keyframes preloaderCSSTopAfter {
  0% {
    background-color: black; }
  100% {
    background-color: white; } }
@keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black; }
  100% {
    background-color: white; } }
/* - глаз - */
#book-n-eye {
  position: relative; }
  #book-n-eye #eye {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    margin-top: 0px;
    margin-left: -70px;
    border-radius: 140px;
    background-color: #fff;
    z-index: 3; }
    #book-n-eye #eye #wink {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: 0px;
      border-radius: 140px;
      box-sizing: border-box;
      border: 4px solid #000;
      -moz-animation: wink 5s infinite;
      -webkit-animation: wink 5s infinite;
      -o-animation: wink 5s infinite;
      animation: wink 5s infinite; }
    #book-n-eye #eye #apple {
      position: absolute;
      top: 58px;
      left: 58px;
      width: 26px;
      height: 26px;
      border-radius: 26px;
      background-color: #000; }

@keyframes wink {
  0%, 90%, 100% {
    border-top-width: 4px;
    border-bottom-width: 4px; }
  91%, 99% {
    border-top-width: 15px;
    border-bottom-width: 15px; }
  92%, 98% {
    border-top-width: 35px;
    border-bottom-width: 35px; }
  93%, 97% {
    border-top-width: 56px;
    border-bottom-width: 56px; }
  94%, 96% {
    border-top-width: 65px;
    border-bottom-width: 65px; }
  95% {
    border-top-width: 70px;
    border-bottom-width: 70px; } }

/*# sourceMappingURL=main.css.map */
