<h1>Мы издаем книги — вы их можете не читать</h1>
	<p class="sapient-description">Оформить заказ на книгу <a id="backToBook"></a></p>
		<form class="order" name="order" method="post">
			
		  <div>	
			  <p class="field">Имя:<br>
			     <input name="name" type="text" placeholder="Имя">
			  </p>		 
			  <p class="field">Телефон:<br>
			     <input name="phone" type="text" placeholder="Телефон">
			  </p>	
			  <p class="field">Эл. адрес:<br>
			     <input name="email" type="text" placeholder="Электронный адрес">
			  </p>
              <p class="error hidden">Выберите способ доставки!
              </p>              
			  <p class="radiobuttons delivery">Способ доставки:<br>
			  </p>
              <p class="field hidden">Адрес доставки:<br>
			     <input name="address" type="text" placeholder="Укажите адрес">
			  </p>
		  </div>  
		  
		  <div>              
			  <p class="comment">Комментарий к заказу:<br>
			     <textarea name="comment" rows="3"></textarea></p>   
              <p class="error hidden">Выберите способ оплаты!
              </p>              
			  <p class="radiobuttons payment">
			  </p>			   
		  </div>	
			  
		  <img id="linkCover"> 
		  
		  <p class="total"><nobr>Итого к оплате: <span id="totalPrice"></span> Z</nobr></p>		  
		  
		  <input class="order-it" type="submit" value="Оформить заказ">
		</form>