@charset "utf-8";

@font-face {
	font-family: 'ALS Fuchsia';
	src: url('../fonts/ALSFuchsia.eot');
	src: url('../fonts/ALSFuchsia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ALSFuchsia.woff') format('woff'),
		url('../fonts/ALSFuchsia.ttf') format('truetype'),
		url('../fonts/ALSFuchsia.svg#ALSFuchsia') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font: Arial, sans-serif;
$quote-font: 'ALS Fuchsia', 'Monotype Corsiva', serif;

$white: #fff;
$black: #000;
$red: #fc5454;
$blue: #4285be;
$l-blue: #96c2e4;

/* - Миксины - */

@mixin linearGradient($top, $bottom){ 
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); 
    background: -webkit-linear-gradient(top,  $top 0%, $bottom 100%); 
    background: -o-linear-gradient(top,  $top 0%, $bottom 100%);
    background: -ms-linear-gradient(top,  $top 0%, $bottom 100%); 
    background: linear-gradient(to bottom,  $top 0%, $bottom 100%); 
}

@mixin coverTansition($tOne, $tTwo, $tThree){
    -moz-transition: $tOne, $tTwo, $tThree; 
    -webkit-transition: $tOne, $tTwo, $tThree; 
    -o-transition: $tOne, $tTwo, $tThree;
    -ms-transition: $tOne, $tTwo, $tThree; 
    transition: $tOne, $tTwo, $tThree; 
}

@mixin animation($item, $duration, $repeat){ 
    -moz-animation: $item $duration $repeat;
    -webkit-animation: $item $duration $repeat;
    -o-animation: $item $duration $repeat;
    animation: $item $duration $repeat;
}


/* - Основные стили - */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center; /* смешно, да, но в этом макете реально проще указать, что НЕ нужно выравнивать по центру*/
}  

html {
    font-size: 10px;
}
  
body { 
	background: $white;
	color: $black;
}

/* - Заголовки и параграфы - */
h1 {
	font: 700 7.2rem $font;
    @media (max-width: 600px) {
        font-size: 3.8em;  
    }
}

h2 {
    font: 700 4.2rem $font;
    text-align: left;
    @media (max-width: 600px) {
        font-size: 3.2em;  
    }    
}

h3 {
    font: 700 2.4rem $font; 
    text-align: left;
}

p, ul, ol {
    font: 400 1.9rem $font;
}

p.story, ul.list li {
    text-align: left;
}

p.sapient-description {
    font: 400 3.2rem $font;
    line-height: 3.4rem;
    @media (max-width: 600px) {
        font-size: 2.4em;  
    }    
}

p.book-description {
    font: 400 2.4rem $font;
}

p.little-note {
    font: 400 italic 1.5rem $font;
    color: #dcdcdc;
    margin: 30px 10px 0 10px;
    
    &:after {
        content: url('../i/skraffi.png');
        display: block;
        position: relative;
        top: 10px;
    }
}

ul.list {
    list-style-type: none;
    li {
        margin-bottom: 20px;
        &:before {
            content: '—';
            display: inline-block;
            padding-right: 5px;
        }
    }
}

u {
    text-decoration: none;
    color: $blue;
}

strong {
    font-style: normal;
    color: $red;
}

/* - Блоки и элементы - */

a.logo {
    display: block;
}

a.book-link {
	position: relative;
	height: auto;
	
	img.book-cover-small {
		display: block;
		margin: 0 auto;
	}
	
	a.hover {
		content: '';
		display: none;
		position: absolute;
        top: -300px;
		left: -105px;
		width: 210px;
		height: 300px;
		font: 700 1.4rem $font;
		line-height: 500%;
		color: $white;
		text-decoration: none;
		padding: 130px 20px;
		background-color: none;
		outline: 3px solid white;
		outline-offset: 0px;
		@include coverTansition(outline-offset 0.25s ease-out, background-color 0.25s ease-out, line-height 0.25s ease-out);
			&:hover {
			display: inline-block;
			background-color: $red;
			outline: 3px solid white;
			outline-offset: -10px;	
			line-height: 100%;
			}
	}
    
        @-moz-document url-prefix()
            {
                a.hover { top: 10px; }
            }

}

img.book-cover-small:hover + a.hover {
	display: inline-block;
}

button, input.order-it {
    cursor: pointer;
}

div.search {    
    &:after {
        content: '';
        display: block;
        clear: both;
    }    
    
    input.search-field {
        float: left;
        height: 30px;
        width: 264px;
        border: 1px solid #b3b3b3;
        padding-left: 33px;
        border-radius: 15px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
        background: url('../i/loope.png') no-repeat 8px;
        text-align: left;
    }    
    
    button.search {
        float: left;
        margin: 2px 0 0 10px;
        border: none;
        background: none;
    }
}

button.buy-book {
    border-radius: 12px;
    border: none;
    @include linearGradient(#865888, #623a64);
    box-shadow: 0px 20px 20px 0.00px #382539;
    font: 700 3.26rem $font;
    color: $white;
    padding: 15px 34px;
    @media (max-width: 600px) {
        padding: 23px 16px;;  
    }
    margin: 0 auto;
}

button.more-books {
    color: $blue;
    font: 400 1.7rem $font;
    background-color: #ffffff;
    border: 2px solid $l-blue;
    border-radius: 8px;
    padding: 10px 60px;
    margin: 0 auto;
}

figure.single-book figcaption {
    @extend p;
    margin-top: 30px;
}

figure.feature {
        margin-bottom: 60px;
    figcaption {
        font: 400 2.1rem $font;
        padding-top: 25px;
    }  
}

figure.review {
    @extend figure.feature;
    
    figcaption:before {
        position: relative;
        left: -7px;
        top: 5px;
        content: '';
        display: inline-block;
        width: 21px;
        height: 23px;
        background: url('../i/quotes.png');
        background-position: 0px;
    }
    figcaption:after {
        position: relative;
        left: 7px;
        top: 5px;
        content: '';
        display: inline-block;
        width: 21px;
        height: 23px;
        background: url('../i/quotes.png');
        background-position: 21px;        
    }
}

blockquote {
    font: 400 3.6rem $quote-font;
    @media (max-width: 600px) {
        font-size: 2.8em;  
    }    
    margin: 70px 0;
    display: inline-block;
    &:before, &:after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background-color: #7d7d7d;
    }
    
    &:before {
        top: -20px; 
    }
    &:after {
        top: 20px;
    }
}

div.people {
    margin: 40px 0; 
}

.disabled {
    pointer-events: none;
    cursor: default;
}

footer {
    padding-top: 60px;
    a.footer-bender {
        margin: 0 auto;
    }
}
   
// Форма заказа книги
form.order {
	min-height: 300px;
    p.field, p.radiobuttons, p.comment, label.radiobuttons {
        text-align: left;
        font-size: 1.9rem;
        padding-top: 15px;
    }
	p.field {
        input {
            height: 30px;
            width: 270px;
            font-size: 1.9rem;
        }
	}
    p.comment {
        textarea {
            width: 415px;
            height: 166px;
            font-size: 1.9rem;
			font-family: $font;
        }        
    }

	div, img {
		display: inline-block;
		margin: 30px;
		vertical-align: top;
	}
    img {
        padding-top: 37px;
    }
	input, textarea {
		border: 3px solid black;
        text-align: left;        
	}
    
    p.total {
        font: 400 3.2rem $font;
    }
    
	input.order-it {
        margin-top: 35px;
		padding: 10px 80px;
		font-size: 2.2rem;
		line-height: 100%;
		border-radius: 7px;
		background-color: #e6e6e6;		
	}
    label.radiobuttons {
        display: block;
        span {
            padding-left: 10px;
        }
    }
    p.hidden {
        display: none;
    }
    
    .report {
        padding: 20px 0;
    }
    
    .error {
        border: 3px solid $red;
    }
    
    .not-availible {
        pointer-events: none;
        cursor: not-allowed;
    }
}

/* mobile before 320px */
@media only screen and (max-width: 319px) {
    
    body {
        padding: 0 5px;
    }
    
    header {
        width: 100%;
        a.logo {
            width: 100%;
            margin: 40px 0;
            img {
                width: 100%;
            }
        }
        div.search {
            width: 100%;
            padding: 0 10px;
            input.search-field {
                width: 80%;
            }
        }
    }
    
    h1 {
        font-size: 2.8rem;
        margin: 40px 0;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 2.0rem;
    }
    p.sapient-description {
        font-size: 1.4rem;
    }
    blockquote {
        font-size: 1.8rem;
    }
    button.buy-book {
        font-size: 2rem;
    }
    
    section.books {
        p.sapient-description {
            display: none;   
        }
        figure.single-book {
            margin-bottom: 60px;
        }
    }
    
    section.book {
        margin: 0 10px;
        img.book-cover-large {
            width: 100%;
        }
        p.book-description {
            margin-top: 40px;
        }
        aside.reviews, aside.features, div.book-display {
            margin-bottom: 60px;
        }
    }
    
    section.story {
        margin: 0 10px;
        h2, h3 {
            line-height: 100%;
            margin-top: 30px;
        }
        h2 + h3 {
            margin-top: 20px;
        }
        p.story {
            line-height: 150%;
            margin-top: 20px;
        }
        img.person {
            margin: 20px 15px;
        }
    }
    
    a.footer-bender {
        img {
            width: 100%;
        }
    }
}

/* mobile 320px to 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        padding: 0 10px;
    }    
    header {
        width: 100%;
        a.logo {
            width: 100%;
            margin: 40px 0;
            img {
                width: 300px;
            }
        }
        div.search {
            width: 100%;
            input.search-field {
                width: 90%;
            }
        }
    }
    
    h1 {
        margin: 40px 0;
    }
    
    section.books {
        p.sapient-description {
            display: none;   
        }
        figure.single-book {
            margin-bottom: 60px;
        }
    }
    
    section.book {
        margin: 0 10px;
        img.book-cover-large {
            width: 280px;
        }
        p.book-description {
            margin-top: 40px;
        }
        aside.reviews, aside.features, div.book-display {
            margin-bottom: 60px;
        }
    }
    
    section.story {
        margin: 0 10px;
        h2, h3 {
            line-height: 100%;
            margin-top: 30px;
        }
        h2 + h3 {
            margin-top: 20px;
        }
        p.story {
            line-height: 150%;
            margin-top: 20px;
        }
        img.person {
            margin: 20px 15px;
        }
    }  
}

/* mobile 480px to 640px */
@media only screen and (min-width: 481px) and (max-width: 640px) {
    body {
        padding: 0 10px;
    }    
    
    header {
        width: 100%;
        a.logo {
            width: 100%;
            margin: 40px 0;
            img {
                width: 300px;
            }
        }
        div.search {
            display: inline-block;
        }
    }
    
    h1 {
        margin: 40px 0;
    }
    
    section.books {
        p.sapient-description {
            display: none;   
        }
        figure.single-book {
            margin-bottom: 60px;
        }
    }
    
    section.book {
        margin: 0 10px;
        img.book-cover-large {
            width: 280px;
        }
        p.book-description {
            margin-top: 40px;
        }
        aside.reviews, aside.features, div.book-display {
            margin-bottom: 60px;
        }
    }
    
    section.story {
        margin: 0 10px;
        h2, h3 {
            line-height: 100%;
            margin-top: 30px;
        }
        h2 + h3 {
            margin-top: 20px;
        }
        div.people {
            margin: 40px;
        }
        p.story {
            line-height: 150%;
            margin-top: 20px;
        }
        img.person {
            margin: 20px 15px;
        }
    }  
}

/* mobile 640px to 1024px */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    body {
        padding: 0 10px;
    }    
    
header {
        padding: 60px 0 10px 0;
        a.logo {
            display: block;
            float: left;
        }
        div.search {
            display: block;
            float: right;
            padding-top: 10px;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }        
    }
    
    h1 {
        margin: 40px 0;
    }
    
    section.books {
        p.sapient-description {
            display: none;   
        }
        figure.single-book {
            margin-bottom: 60px;
        }
        div.books {
            margin: 0 auto;
            max-width: 650px;
            padding-top: 50px;
        }
        figure.single-book {
            display: inline-block;
            max-width: 300px;
            padding: 0 10px;
        }         
    }
    
    section.book {
        margin: 0 10px;
        img.book-cover-large {
            width: 280px;
        }
        p.book-description {
            margin-top: 40px;
        }
        aside.reviews, aside.features, div.book-display {
            margin-bottom: 60px;
        }       
    }
    
    section.story {
        margin: 0 10px;
        h2, h3 {
            line-height: 100%;
            margin-top: 30px;
        }
        h2 + h3 {
            margin-top: 20px;
        }
        div.people {
            margin: 0 auto;
            padding: 40px;
            max-width: 530px;
        }
        p.story {
            line-height: 150%;
            margin-top: 20px;
        }
        img.person {
            margin: 20px 15px;
        }
    }  
}

/* desktop 1366px */
@media only screen and (min-width: 1025px) {
    
    body {
        padding: 0 40px;
        max-width: 1366px;
        margin: 0 auto;
    }
    
    header {
        padding: 60px 0 10px 0;
        a.logo {
            display: block;
            float: left;
        }
        div.search {
            display: block;
            float: right;
            padding-top: 10px;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }        
    }
    
    h1 {
        margin: 50px 0;
    }
    
    section.books {
        figure.single-book {
            margin-bottom: 70px;
        }
    }
    
    section.book {
        
        div.book-row {
            display: table-row;           
        }
        
        p.book-description {
            margin-top: 50px;
        }
        aside.reviews, aside.features, div.book-store {
            display: table-cell;
            vertical-align: top; 
        }
        aside.reviews, aside.features {
            width: 29%;
            figure {
                height: 300px;
                img {
                    width: 210px;
                    height: 185px;
                }
            }
            figcaption {
                width: 260px;
                margin: 0 auto;
            }
        }
        div.book-store {
            width: 40%;
        }
        div.buy-book {
            margin-top: 30px;
        }
    }
    
    section.story {
        h1 {
            max-width: 1200px;
        }
        h2, h3 {
            line-height: 100%;
            padding-top: 50px;
            max-width: 640px;
            margin: 0 auto;
        }
        h2 + h3 {
            padding-top: 30px;
        }
        div.people + h2 {
            padding-top: 0px;
        }
        p.sapient-description {
            max-width: 880px;
            margin: 0 auto;
            line-height: 150%;
        }
        p.story {
            line-height: 150%;
            padding-top: 25px;
            max-width: 640px;
            margin: 0 auto;
        }
        ul, ol {
            max-width: 640px;
            margin: 0 auto;
        }
        img.person {
            margin: 0 40px;
        }
        blockquote {
            max-width: 880px;
        }
    }
    
    section.books {
        
        div.books {
            margin-top: 50px;
        }
        
        figure.single-book {
            display: inline-block;
            vertical-align: top;
            max-width: 300px;
            padding: 0 10px;
          
        }
    }
}

/* - прелоадер - */

div#loader {
    display: none;
    margin-bottom: 50px;
}

.vertical--center{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block;
}

.vertical-center__element{
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.preloader{
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 1px auto;
  background: black;
  
  &--top{
    top: 0;
    animation: preloaderCSSTop 2s infinite;
    
    &::after{
      position: absolute;
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      left: 1em;
      background: black;
      margin-left: 1px;
      animation: preloaderCSSTopAfter 2s infinite;
      animation-delay: .5s;
    }
  }
  
  &--bottom{
    top: 0;
    animation: preloaderCSSBottom 2s infinite;
    animation-delay: 1.5s;
    
    &::after{
      position: absolute;
      content: '';
      display: block;
      width: 1em;
      left: 1em;
      height: 1em;
      background: black;
      margin-left: 1px;
      @include animation(preloaderCSSTopAfter, 2s, infinite);    
      -moz-animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s;
        
    } 
  }
}


@keyframes preloaderCSSTop{
  0% {
    background-color: black;
  }
  100%{
    background-color: white;
  }
}

@keyframes preloaderCSSBottom{
  0% {
    background-color: black;
  }
  100%{
    background-color: white;
  }
}

@keyframes preloaderCSSTopAfter{
  0% {
    background-color: black;
  }
  100%{
    background-color: white;
  }
}

@keyframes preloaderCSSBottomAfter{
  0% {
    background-color: black;
  }
  100%{
    background-color: white;
  }
}
 
/* - глаз - */

#book-n-eye{
			position: relative;
			#eye{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 140px;
				height: 140px;
				margin-top: 0px;
				margin-left: -70px;
				border-radius: 140px;
				background-color: #fff;
				z-index: 3;
                
				#wink{
					position: absolute;
					width: 100%;
					height: 100%;
					margin-top: 0px;
					border-radius: 140px;
					box-sizing: border-box;
					border: 4px solid #000;
                    @include animation(wink, 5s, infinite);
				}
				#apple{
					position: absolute;
					top:58px;
					left: 58px;
					width: 26px;
					height: 26px;
					border-radius: 26px;
					background-color: #000;
				}
			}
		}

@keyframes wink{
	0%, 90%, 100%{
		border-top-width: 4px;
		border-bottom-width: 4px;
	}
	91%, 99%{
		border-top-width: 15px;
		border-bottom-width: 15px;
	}
	92%, 98%{
		border-top-width: 35px;
		border-bottom-width: 35px;
	}
	93%, 97%{
		border-top-width: 56px;
		border-bottom-width: 56px;
	}
	94%, 96%{
		border-top-width: 65px;
		border-bottom-width: 65px;
	}
	95%{
		border-top-width: 70px;
		border-bottom-width: 70px;
	}
};